<div class="pagination-container">
  <pagination-controls 
    (pageChange)="p = $event"
    [previousLabel]="'P'"
    [nextLabel]="'N'"
    class="custom-pagination">
  </pagination-controls>
</div>

<div class="card-grid">
  <div class="flip-card" *ngFor="let item of wordList | paginate: { itemsPerPage: 24, currentPage: p }">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="content">
          <h1>{{ item.english }}</h1>
        </div>
      </div>
      <div class="flip-card-back">
        <div class="content">
          <h1>{{item.hebrew}}</h1>
          <p class="pronunciation">{{item.pronouncs}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination-container">
  <pagination-controls 
    (pageChange)="p = $event"
    [previousLabel]="'P'"
    [nextLabel]="'N'"
    class="custom-pagination">
  </pagination-controls>
</div>
